@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Estilos Generales */
.categoriesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    padding: 40px;
    background-color: #322F2F; /* Fondo oscuro */
}

/* Estilo de las Tarjetas de Categoría */
.categoryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.categoryCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

/* Estilo de las Imágenes */
.categoryImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.categoryCard:hover .categoryImage {
    transform: scale(1.05);
}

/* Estilo del Nombre de la Categoría */
.categoryName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
    font-size: 1.8em;
    margin-top: 15px;
}

/* Estilo de la Descripción */
.categoryDescription {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #555;
    padding: 0 20px 20px;
    text-align: justify;
    font-size: 1em;
}
