@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.recipeContainer {
    display: flex;
    width: 100%;
    height: 100vh; /* Toma toda la altura de la pantalla */
    font-family: 'Montserrat', sans-serif;
    background-color: #2b2b2b; /* Color de fondo general */
    color: white; /* Color del texto */
}

.recipePhoto {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
}


.backButtonRecipe {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
    color: white;
    border: 1px solid #ffa500; /* Borde sutil */
    padding: 10px 20px;
    border-radius: 8px; /* Bordes más redondeados */
    cursor: pointer;
    font-size: 20px;
    font-weight: bold; /* Texto en negrita */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para resaltar */
    display: flex; /* Alineación de ícono y texto */
    align-items: center; /* Centrado vertical de los elementos */
    gap: 5px; /* Espacio entre ícono y texto */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave para efectos */
}

.backButtonRecipe:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Oscurecer al pasar el cursor */
    transform: scale(1.05); /* Ligeramente más grande al pasar el cursor */
}

.backButtonRecipe:before {
    content: '←'; /* Ícono de flecha */
    font-size: 20px; /* Tamaño del ícono */
}


.recipeDetails {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    overflow-y: auto; /* Permite desplazarse si el contenido es muy largo */
    background: #333; /* Fondo oscuro para los detalles */
}

.createdByUser {
    margin: 10px 0;
    color: #ffa500; /* Color para destacar */
    font-style: italic; /* Estilo cursiva para diferenciar */
    font-size: 1.2em; /* Tamaño del texto */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Sombra de texto */
    padding: 5px; /* Espaciado interno */
    border-bottom: 2px solid #ffa500; /* Subrayado decorativo */
    display: inline-block; /* Alineación en bloque para bordes y relleno */
    transition: all 0.3s ease; /* Transición suave */
}

.createdByUser:hover {
    color: #ffddaa; /* Cambiar color al pasar el cursor */
    transform: scale(1.05); /* Ligeramente más grande al pasar el cursor */
}


/* Estilos para el nombre de la categoría */
.categoryNameRecipe {
    margin: 10px 0;
    color: #e0e0e0; /* Color suave para diferenciar de createdByUser */
    font-size: 1.1em; /* Tamaño ligeramente menor que createdByUser */
    font-weight: bold; /* Texto en negrita para resaltar */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Sombra de texto suave */
    padding: 3px; /* Espaciado interno menor */
    border-left: 4px solid #ffa500; /* Borde izquierdo como elemento decorativo */
    display: inline-block; /* Alineación en bloque para bordes y relleno */
    background-color: rgba(255, 165, 0, 0.1); /* Fondo ligero para destacar */
    border-radius: 3px; /* Bordes redondeados */
    transition: all 0.3s ease; /* Transición suave */
}

.categoryNameRecipe:hover {
    color: #ffd700; /* Cambiar color al pasar el cursor */
    background-color: rgba(255, 215, 0, 0.2); /* Fondo más intenso al pasar el cursor */
    transform: translateY(-2px); /* Desplazamiento hacia arriba al pasar el cursor */
}

.recipeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likeSection {
    display: flex;
    align-items: center;
    font-size: 25px; /* Ajusta el tamaño según sea necesario */
}

.heartIcon {
    font-size: 40px;
    cursor: pointer;
    color: #ccc;
    margin-right: 10px;
}

.heartIcon.liked {
    color: red;
}

.likesCount {
    font-size: 22px; /* Ajusta el tamaño según sea necesario */
    color: #fff;
}






.recipeDetails h1 {
    font-size: 3em;
    color: #ffa500; /* Color para el nombre de la receta */
    margin-bottom: 0.5em;
}

.recipeDetails p, .recipeDetails h3 {
    margin-left: 20px;
}

.recipeDetails h3 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #ffa500; /* Color para los subtítulos */
}

.recipeDetails ul {
    list-style: none; /* Remueve los estilos predeterminados de lista */
    padding: 0;
}

.recipeDetails ul li {
    margin: 5px 0;
    padding-left: 5px; /* Ajusta este valor según sea necesario */
}

.ingredientsSection {
    background-color: #3a3a3a; /* Un fondo más oscuro */
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.ingredientList {
    list-style-type: none; /* Remueve viñetas */
    padding: 0;
}

.ingredientItem {
    background-color: #4a4a4a; /* Fondo para cada ingrediente */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; /* Separa nombre y cantidad */
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.ingredientName {
    color: #ffa500; /* Color para el nombre del ingrediente */
    font-weight: bold;
}

.ingredientQuantity {
    color: #dcdcdc; /* Color para la cantidad */
    font-style: italic;
}
/* Estilos para la sección de preparación */
.recipeDetails .preparation {
    background: rgba(255, 165, 0, 0.3); /* Fondo naranja transparente */
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px; /* Bordes redondeados */
}

/* Botón o icono para cerrar o volver, si es necesario */
.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.preparationSection {
    background-color: #414141; /* Fondo diferente para la sección de preparación */
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.preparationSection h3 {
    color: #ffcc00; /* Color para el título de la sección de preparación */
    margin-bottom: 15px;
}

.preparationContent {
    color: #e0e0e0; /* Color más claro para el texto de la preparación */
    font-size: 1.1em;
    line-height: 1.6; /* Espaciado entre líneas para mejor legibilidad */
    white-space: pre-line; /* Respeta los saltos de línea y espacios */
    text-align: justify; /* Justifica el texto para un aspecto más limpio */
    padding: 10px; /* Añade un poco de relleno interno */
    border-top: 2px dashed #ffcc00; /* Línea superior decorativa */
}


@media (max-width: 768px) {
    .recipeContainer {
        flex-direction: column;
    }
    .recipePhoto {
        width: 100%;
        height: 40vh; /* Altura más pequeña para la imagen */
    }
    .recipeDetails {
        width: 100%;
        height: 60vh; /* Altura ajustada para los detalles */
    }
}